<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pojo.GroupMapper">
    <insert id="insert" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
        insert into t_groups(name,user_id,createtime,favor) values (#{name},#{userID},#{createTime},#{favor});
    </insert>
    <select id="queryByUserId" parameterType="String" resultMap="groupResultMap">
        select * from t_groups where user_id=#{value};
    </select>
    <select id="queryById" parameterType="int" resultMap="groupResultMap">
        select * from t_groups where id=#{id}
    </select>
    <update id="update" parameterType="Group">
        update t_groups
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="description!=null and description!=''">description=#{description},</if>
            <if test="imageURL!=null and imageURL!=''">image_url=#{imageURL},</if>
        </trim>
        where user_id=#{userID} and id=#{id};
    </update>
    <delete id="delete" parameterType="Group">
        delete from t_groups where user_id=#{userID} and id=#{id};
    </delete>
    <resultMap id="groupResultMap" type="Group">
        <id property="id" column="id"></id>
        <result property="createTime" column="createtime"></result>
        <result property="imageURL" column="image_url"></result>
        <result property="userID" column="user_id"></result>
        <collection property="groupSongDetailList" column="id" ofType="GroupSongDetail" select="com.pojo.GroupSongDetailMapper.queryByGroupId"></collection>
    </resultMap>
</mapper>