<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pojo.SongMapper">
    <select id="queryById" parameterType="int" resultMap="songResultMap">
        select * from t_songs where id=#{value}
    </select>
    <select id="queryAll" resultMap="songResultMap">
        select t_songs.*,t_albums.name collect_album_name,t_albums.id album_id from t_songs left join t_albums on t_songs.album_id=t_albums.id
    </select>
    <select id="queryByNameSingerAlbumLike" parameterType="String" resultMap="songResultMap">
        select * from t_songs where name like concat('%',#{value},'%') or singer like concat('%',#{value},'%') or album like concat('%',#{value},'%')
    </select>
    <select id="queryLyric" parameterType="Song" resultMap="songResultMap">
        select lyric_url from t_songs where name=#{name} and singer=#{singer} and album=#{album};
    </select>
    <select id="queryByNameSingerAlbum" parameterType="Song" resultMap="songResultMap">
        select * from t_songs where name=#{name} and singer=#{singer} and album=#{album};
    </select>
    <resultMap id="songResultMap" type="Song">
        <id property="id" column="id"></id>
        <result property="albumName" column="album_name"></result>
        <result property="totalTime" column="total_time"></result>
        <result property="publishTime" column="publish_time"></result>
        <result property="albumID" column="album_id"></result>
        <result property="collectTime" column="collect_time"></result>
        <result property="resourceURL" column="resource_url"></result>
        <result property="lyricURL" column="lyric_url"></result>
        <result property="albumURL" column="album_url"></result>
        <association property="albumObject" javaType="Album">
            <id property="id" column="t_albums.id"></id>
            <result property="name" column="collect_album_name"></result>
        </association>
    </resultMap>

    <insert id="insert" parameterType="Song">
        insert into t_songs(name,singer,album,total_time,size,resource_url,lyric_url,album_url) values (#{name},#{singer},#{album},#{totalTime},#{size},#{resourceURL},#{lyricURL},#{albumURL})
    </insert>
    <delete id="deleteById" parameterType="int">
        delete from t_songs where id=#{value}
    </delete>
    <update id="updateById" parameterType="Song">
        update t_songs
         <trim prefix="set" suffixOverrides=",">
             <if test="name!=null and name!=''">name=#{name},</if>
             <if test="singer!=null and singer!=''">singer=#{singer},</if>
             <if test="album!=null and album!=''">album=#{album},</if>
             <if test="totalTime!=null and totalTime!=''">total_time=#{totalTime},</if>
             <if test="size!=null and size!=''">size=#{size},</if>
             <if test="resourceURL!=null and resourceURL!=''">resource_url=#{resourceURL},</if>
             <if test="lyricURL!=null and lyricURL!=''">lyric_url=#{lyricURL},</if>
             <if test="albumURL!=null and albumURL!=''">album_url=#{albumURL},</if>
         </trim>
         where id=#{id}
    </update>
</mapper>